extends ../layout.pug
block content

    div.container

        h1 Listado de Estudiantes

        table.table
            thead.thead-dark
                tr
                    th Id
                    th Nombre
                    th Apellidos
                    th Edad
                    th Email
                    th Nota Media
                    th Fecha Matricula
                    th Matricula
                    th Discapacidad
                    th Sexo
                    th Acciones
                
            each student in students
                tr
                    td= student.id
                    td= student.nombre
                    td= student.apellidos
                    td= student.edad
                    td= student.email
                    td= student.notamedia
                    td= student.fecha_matricula
                    td= student.matricula
                    td= student.discapacidad
                    td= student.sexo
                    td
                        a.btn.btn-sm.btn-primary(href="/students/"+student.id) Detalle Estudiante
                        a.btn.btn-sm.btn-danger(href="/students/delete/"+student.id) Borrar Estudiante

        div.botones
            button.btn.btn-primary
                a(href="http://localhost:3000/students/new") Crear Nuevo Estudiante